<section class="box special features">
    <section>
        <span class="icon solid major fa-bolt accent2"></span>
        <h3>You have successfully created a new user!</h3>
        <p>Welcome {{email}}</p>
        <a href="/login" class="button alt">Log In</a>
    </section>
</section>

