<section id="cta">
    <h2>Create an account for beta access</h2>
    <p>Gain access to exciting new features coming soon</p>
    <form action="/addeduser" method="POST">
        <div class="row gtr-50 gtr-uniform">
            <div class="col-8 col-12-mobilep">
                <input type="text" name="email" id="email" placeholder="Email Address">
            </div>
            <div class="col-8 col-12-mobilep">
                <input type="text" name="password" placeholder="Create Password">
            </div>
            <div class="col-4 col-12-mobilep">
                <input type="submit" value="Submit" class="fit">
            </div>
        </div>
    </form>
</section>