<!-- Banner -->
	<section id="banner">
		<h2>Recipe Arsenal</h2>
		<p>Store your favorite recipes and nutritional data to stay healthy!</p>
		<ul class="actions special">
			    <li><a href="/login" class="button primary">Log In</a></li>
				<li><a href="/createuser" class="button">Create Account</a></li>
		</ul>
	</section>
