<section class="box special features">
    <section>
        <div class="col-12">
            <span class="icon solid major fa-lock accent5"></span>
            <h3>Log In</h3>
            <p>Please enter your email and password below</p>
            <form action="/loggedin" method="POST">
                <input type="text" name="email" placeholder="Email Address"><br>
                <input type="text" name="password" placeholder="Password (At least 8 Characters)"><br><br>
                <input type="submit" value="Log In">
            </form>
            <p>If you have not registered please click <a href="/createuser">Here</a></p>
        </div>
    </section>

</section>