<section id="main" class="container medium">
    <header>
        <h2>Search Our API Data</h2>
        <p>Look up nutritional information on common food items</p>
    </header>
    <div class="box">
        <form action="/viewrecipe" method="POST">
            <div class="col-12">
                 <input type="text" name="searchquery" placeholder="How much vitamin C is in two apples?"><br>
            </div>
            <ul class="actions special">
			    <li><input type="submit" value="Search"></li>
            </ul>
        </form>
    </div>
</section>
