<!-- Banner -->
	<section id="banner">
		<p>Please enter the food item you'd like to see nutrition data for:</p>
    </section>
		<form action="/viewrecipe" method="POST">
            <input type="text" name="searchquery" class="" placeholder="How much vitamin C is in two apples?" size="40"><br>
   
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
        <!--<ul class="actions special">
			    <li><a href="#" class="button primary">Log In</a></li>
				<li><a href="#" class="button">Learn More</a></li>
		</ul>-->
