<section class="box special features">
    <section>
        <span class="icon solid major fa-cloud accent4"></span>
        <h3>Update succeeded!</h3>
        <p>Your new credentials are:</p> 
        <p>{{email}}</p>
        <p>{{password}}</p>
        <ul class="actions special">
            <li>
                <a href="/search" class="button special icon solid fa-search">Search</a>
            </li>
            <li>
                <a href="/viewusers" class="button">View All Accounts</a>
            </li>
        </ul>
    </section>
</section>