<!-- Banner -->
	<section id="banner">
		<p>Answer: {{data.answer}} and type: {{data.type}}</p>
		<ul class="actions special">
			    <li><a href="#" class="button primary">Log In</a></li>
				<li><a href="#" class="button">Learn More</a></li>
		</ul>
	</section>
