<!-- Banner -->
	<section id="banner">
		<h2>{{answer}}</h2>
        <h1>{{type}}</h1>
		<p>Another fine responsive site template freebie by HTML5 UP.</p>
		<ul class="actions special">
			    <li><a href="#" class="button primary">Log In</a></li>
				<li><a href="#" class="button">Learn More</a></li>
		</ul>
	</section>
