<!-- Banner -->
	<section id="banner">
        <h2>Answer:</h2>
		<p>{{data.answer}}</p>
		<ul class="actions special">
			    <li><a href="/search" class="button primary">New Search</a></li>
				<li><a href="/viewusers" class="button">View Users</a></li>
		</ul>
	</section>
